*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
   
    min-height:100vh;
    /* padding-left: 8%;
    padding-right: 8%; */
    box-sizing:border-box;
    overflow:hidden;
}
body{
    background-image: url('playstation_img/b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100;
    width: 100;
}
nav{
    height: 80px;
    width: 100;
    background-color:lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 50px 0 50px; */

}
nav #icon{
    color:white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    display: none;
   
}
nav .logo{
    font-size: 30px;
    color:whitesmoke;
    font-family: bold;
    font-weight: 600;
    padding-left: 50px;
}
nav ul{
    display: flex;
    list-style: none;
    padding-right: 50px;

}
nav ul li{
margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: 0.5s;
    border-radius: 5px;
    text-transform: capitalize;
    
    font-weight: bold;
}
nav ul li a:hover,
nav ul li a.active{
    cursor: pointer;
    color: black;
    background-color: white;

}

.row{
    margin: 100px 0;
    
}
.col1{
    flex-basis: 40%;
    position: relative;
    margin-left: 70px;

}
.col1 h2{
    font-size: 54px;
}
.col1 h3{
font-size: 30px;
margin: 10px 0 10px;
}

.col1 h6{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    
}
.three{
    
    display: flex;
    
}
button{
    width: 140px;
    border:0px;
    padding:12px 10px;
    margin-top: 50px;
    margin-left: 40px;
    outline:none;
    color:#fff;
    background:linear-gradient(to right, #342a2d, #362a42);
    cursor:pointer;
    border-radius: 6px;
    transition:width 0.5s ;
}
button img{
    width:30px;
    display:none;
    } 
    button:hover img {
        display:block;
    }
    
    button:hover{
        width:160px;
        display:flex ;
        align-items:center;
        justify-content:space-between;
    }
    .col1::after{
        content:'';
        width :10px;
        height:83%;
        background:linear-gradient(to right, #524246, #1f1717);
        position: absolute;
        left:-40px;
        top:8px;
    }
@media (max-width: 680px){

    button{
        width: 180px;
        border:0px;
        padding:12px 10px;
        margin-top: 50px;
        margin-left: 40px;
        outline:none;
        color:#fff;
        background:linear-gradient(to right, #342a2d, #362a42);
        cursor:pointer;
        border-radius: 6px;
        transition:width 0.5s ;
    }
    .three{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
    }
    nav #icon{
        display: block;
    }
    nav ul{
        position:fixed;
        top:80px;
        left:-100%;
        background:black;
        height: 100vh;
        width: 80%;
        display: block;
        padding-left: 10px;
        transition: all .5s;
        

    }
   nav #icon{
       color:white;
       font-size: 30px;
       line-height: 80px;
       float: right;
       margin-right: 40px;
       cursor: pointer;
       display: block;
   }
    nav ul li{
        margin: 60px 0 40px;
        
    }
    nav .logo{
        font-size: 20px;
        padding-left: 30px;
        
    }
  
    nav ul li a{
        font-size: 20px;
        font-weight: 500px;
        text-transform: uppercase;
        
    }
    nav ul li a:hover,nav ul li a.active{
        color:cyan;
        background: none;
        cursor: pointer;
    }
   nav ul.show{
       left:0;
   }
}
@media (max-width: 930px){

nav .logo{
    font-size: 20px;
}
nav ul{
    padding-right: 10px;
}
}
@media (max-width: 810px){

    nav .logo{
        font-size: 15px;
        padding-left: 10px;
    }
    nav ul{
        padding-right: 10px;
    }
    }
   